@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To my Task Manager Application</h2>
    <p>Here you can create your Projects, add Users that will work on your projects, create tasks that needs to be done and assing them to Users</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Let's get started by creating your first Project</h4>
    <a asp-page="/Projects/Index" class="btn btn-primary">Projects</a>
</div>
